<div ng-app="cohub-test-store">
  <!-- <script src="assets/third-party/js/aws-sdk-2.0.22.min.js"></script> -->
  <div class="view-container">
    <div ng-view class="view-frame animate-view"></div>
  </div>
</div>
