<div class="navbar navbar-inverse">
	<div class="navbar-inner">
		<div class="container">
			<div class="nav-collapse">
				<ul class="list--inline" id="navigation-tabs">
          <a class="logo" href="#/products">Cohub Test Store</a>
          <button ng-click="newProduct()" class="btn btn-success btn-sm" style="float:right; margin-top:10px;">
        <i aria-hidden="true" class="glyphicon glyphicon-plus"></i>
        Add a Prodcut
      </button>
				</ul>
			</div>
		</div>
	</div>
</div>

<!-- <navbar current-tab="Second"></navbar> -->
<aside class="flash row">
  <article flash-alert duration="0" active-class="alert" class="col-md-6 col-md-offset-3 col-sm-12">
    {{flash.message}}
  </article>
</aside>
<section class="col-md-6 col-md-offset-3">
  <article class="panel panel-info">
    <header class="panel-heading"><h1>{{product.name}}</h1></header>
    <p class="panel-body">
      {{product.description}}
    </p>
  </article>
  <section>
    <div class="col-md-3">
      <button ng-click="back()" class="btn btn-default">
        &larr; Back
      </button>
    </div>
    <div class="col-md-9 text-right">
      <button ng-click="edit()" class="btn btn-info"> Edit </button>
      <button ng-click="delete()" class="btn btn-danger"> Delete </button>
    </div>
  </section>
</section>
