<navbar></navbar>
<aside class="flash row">
  <article flash-alert duration="0" active-class="alert" class="col-md-6 col-md-offset-3 col-sm-12">
    {{flash.message}}
  </article>
</aside>
<section class="col-md-6 col-md-offset-3">
  <article class="panel panel-info">
    <div class="pull-left">
      <button ng-click="back()" class="btn btn-default">
        &larr; Back
      </button>
    </div>
    <div class="btn-group pull-right" role="group">
      <button ng-click="edit()" type="button" class="btn btn-primary">Edit</button>
      <button ng-click="delete()" type="button" class="btn btn-danger">Delete</button>
    </div>
    <header class="panel-heading">
      <h1>{{product.name}}</h1>
    </header>
    <ul class="list-group">
      <li class="list-group-item panel-body">
        <span class="label label-default">Description</span>
        {{product.description}}
      </li>
      <li class="list-group-item panel-body">
        <span class="label label-default">Qty</span>
        {{product.quantity}}
      </li>
      <li class="list-group-item panel-body">
        <span class="label label-default">Price</span>
        <span currency>{{product.price | currency}}</span>
      </li>
      <li class="list-group-item panel-body">
        <span class="label label-default">SKU</span>
        {{product.sku}}
      </li>
      <li class="list-group-item panel-body">
        <img class="panel-body img-responsive" ng-src="{{product.image}}"/>
      </li>
    </ul>
  </article>
  <section>
    <div class="pull-left">
      <button ng-click="back()" class="btn btn-default">
        &larr; Back
      </button>
    </div>
    <div class="btn-group pull-right" role="group">
      <button ng-click="edit()" type="button" class="btn btn-primary">Edit</button>
      <button ng-click="delete()" type="button" class="btn btn-danger">Delete</button>
    </div>
    <!-- <div class="col-md-9 text-right">
      <button ng-click="edit()" class="btn btn-primary"> Edit </button>
      <button ng-click="delete()" class="btn btn-danger"> Delete </button>
    </div> -->
  </section>
</section>
